@media screen and (max-width: 920px) {
  a, p, th, td {
    font-size: 14px;
  }
  h2 {
    font-size: 22px;
  }
}
@media screen and (max-width: 600px) {
  a, p, th, td {
    font-size: 12px;
  }
  h2 {
    font-size: 18px;
  }
}
@media screen and (max-width: 420px) {
  a, p, th, td {
    font-size: 12px;
  }
  h2 {
    font-size: 16px;
  }
}

.container-fluid {
  position: relative;
  min-height: 100vh;
  background-color: #f1f1f1;
}

.row-pin-title {
  padding-bottom: 1em;
  background-color: #f1f1f1;
}

.col-pin-title {
  background-color: #f1f1f1;
}

.card-pin-title {
  text-align: center;
  background-image: linear-gradient(to right, #2F80ED, #56CCF2); 
  box-shadow: 5px 5px 5px rgb(207, 207, 207);
}

.row-pin-nav {
  padding-bottom: 1em;
  background-color: #f1f1f1;
}

.col-pin-nav {
  background-color: #f1f1f1; 
}

.col-pin-nav a {
  border-radius: 4px;
}

.nav-login a  {
  text-decoration: none;
}

.row-pin-table {
  padding-bottom: 9.5em;
  background-color: #f1f1f1;
}

.col-pin-table {
  overflow-x: auto;
  white-space: nowrap;
  background-color: #f1f1f1;
  max-width: 70em; 
  margin: auto;
}

thead {
  background-color: rgb(184,218,255);
}
 
table {
  box-shadow: 3px 3px 3px rgb(230, 230, 230);
}

.table-row1 {
  cursor: pointer;
}

.row-pin-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.col-pin-footer {
  background-color: white;
  padding: 5px 0 20px 0;
}

.footer a {
  text-decoration: none;
  color: rgb(161, 161, 161);
  position: absolute; 
  left: 50%; 
  transform: translate(-50%, 0);
}

.left- {
  float: left;
  padding-left: 2%;
  color: rgb(161, 161, 161);
}

.footer a:hover {
  color: rgb(122, 122, 122);
}
